$primary-color: #4361ee;
$secondary-color: #7209b7;
$danger-color: #ef233c;
$light-color: #f8f9fa;
$dark-color: #212529;


$border-radius: 4px;
$spacing-unit: 8px;
$total-columns: 12;

$color-map: (
  1: #264653,
  2: #2a9d8f,
  3: #e9c46a,
  4: #f4a261,
  5: #e76f51
);